
.address-from-wrapper {
    margin-bottom: 50px;
    .address-form {
        padding: 25px 40px 40px;
        max-width: 450px;
        border-radius: 8px;

        input {
            color: #9D9D9D;
            padding: 5px 8px;

            &:focus {
                border-color: $primary-color;
            }
        }
    }
    .row {
        min-height: auto;
        justify-content: space-between;
    }
}


input[type='radio'] {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 1px;
    cursor: pointer;
}

.react-datepicker-wrapper {
    width: 100%;
}

.add-address-icon {
    position: absolute;
    right: 40px;
    top: 45px;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffaf2b;
    line-height: 38px;
    cursor: pointer;

    svg {
        width: 16px;
        height: 16px;
        fill: #fff;
    }
}

.address {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-top: 30px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 10px 23px rgba(125, 125, 125, 0.43);
    p {
        font-weight: 600;
        span {
            color: $grey-color;
        }
    }
}

.dashboard {
    margin-bottom: 100px;
    .section-divider {
        position: relative;
        min-height: 200px;
        width: calc(100% - 100px);
        background: url('../images/background-waves.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 15px 25px;
        margin: 0 50px;
        border-radius: 12px;
		box-shadow: 0 6px 23px rgba(125, 125, 125, 0.43);

        &::before {
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: rgba(13, 223, 232, 0.12);
            border-radius: 12px;
        }
        
        .section-left-side {
            width: 100%;
            p {
                color: #757575;
            }
        }
        .section-right-side {
            width: 100%;
            img {
                width: 250px;
            }
        }

    }

    .tasks {
        margin: 0 50px;
        margin-top: 50px;

        .row {
            margin-top: 20px !important;
            min-height: auto;

            .col-md-4 {
                &:first-child {
                    padding-left: 0;
                }
            }

            .column-wrapper {
                padding: 8px !important;
                background-color: #fff;
                border-radius: 12px;
                box-shadow: 4px 4px 10px rgba(125, 125, 125, 0.43);
                max-width: 240px;

                .task-icon {
                    width: 55px;
                    height: 55px;
                    text-align: center;
                    line-height: 50px;
                    border-radius: 12px;

                    &.step-icon {
                        background-color: #95D4EB;
                    }
                    
                    &.fire-icon {
                        background-color: #F7723C;
                    }

                    &.sleep-icon {
                        background-color: #FCD76C;
                    }

                    svg {
                        width: 26px;
                        height: 26px;
                        fill: #fff;
                    }
                }
                .task-info {
                    margin-left: 20px;

                    h5 {
                        margin-bottom: 0;
                    }
                    span {
                        color: $grey-color;
                        font-size: 15px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    
    .employee-list {
        margin: 50px;
        margin-bottom: 0;

        .avatar-mini {
            width: 40px;
            height: 40px;
            text-align: center;
            margin: 0 auto;
            border-radius: 50%;
            box-shadow: 5px 5px 4px 0px rgba(27, 169, 169, 0.43);
    
            img {
                width: 100%;
                border-radius: 50%;
            }
        }
    
        table {
            margin-top: 20px;
            // width: calc(100% - 100px);
            // border: 2px solid #95D4EB;
    
            thead {
                background-color: #95D4EB;
            }
    
            td {
                font-weight: 600;
    
                &:first-child {
                    text-align: center;
                }
                &:last-child {
                    text-align: center;
                    img {
                        height: 30px;
                    }
                }
            }
        }
    }
}